body{background-repeat: repeat-y; background-size: 100% auto;}

#logo{
    height: 60px;
    width: 200px;
}

#top-bar{
    background-color: white;
}

.navbar .row{width:100%;}
.navbar .row .temp img{width: 28px;}
.navbar .row .logo-section{text-align: right;}

.priority-alert{
    color: red;
    vertical-align: bottom;
}

#messagediv{
    padding-top: 100px;
}


.priority-box{
    position: fixed;
    z-index: 9999;
    margin-left: -55px;
    padding-right: 0px;
    margin-right: -50px;
    margin-top: -20px;
}

/*invisible location name*/
#location_name{visibility: hidden;}

/*weather section*/
#weather{padding-top: 10px;}
.weather-section{border: 1px solid black; padding: 45px; margin-bottom: 20px;}
.weather-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px;}
.weather-section .day{margin:0px; text-align: center;}
.weather-section .temp{border: 1px solid black; padding: 30px 0px 30px 0px; text-align: center;}
