#logo{
    height: 60px;
    width: 200px;
}

#top-bar{
    background-color: white;
}

.priority-alert{
    color: red;
    vertical-align: bottom;
}

<<<<<<< HEAD
#messagediv{
    padding-top: 100px;
}

=======
/*invisible location name*/
#location_name{visibility: hidden;}
>>>>>>> b748d7d57edd9695d4d5f7db9b5c43cc2d0e2c59

/*weather section*/
.weather-section{border: 1px solid black; padding: 45px; margin-bottom: 20px;}
.weather-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px;}
.weather-section .day{margin:0px; text-align: center;}
.weather-section .temp{border: 1px solid black; padding: 30px 0px 30px 0px; text-align: center;}
