/*General*/
.btn {cursor: pointer;}
.dotsolutions_logo{bottom: 0; left: 10px;}
@media screen and (min-width: 1200px) {
	.dotsolutions_logo{position: fixed; }
}

/*Icons*/
.icon-question{margin-top: 7px; cursor: pointer;}
.icon-settings{margin: -3px 15px 0px 10px;}

/*Login screen*/
#login{margin-top: 50px;}
#login .logo{margin-bottom: 10px;}
#login .password-btn-section{padding-left: 0px;}

/*Password forgotten*/
.btn-password-forgotten{width:100%;}

@media screen and (max-width: 1200px) {
	#login .question-mark-btn-section{margin-left: 15px;}	
	#login .login-btn-section {margin-right: 15px;}
}

/*Dashboard*/
#search-section{margin-left: 20px;}
#dashboard-content{margin-top: 50px;}
@media screen and (min-width: 1200px) {
	#dashboard-content{padding-left: 15%;padding-right: 15%;}
}
.welcome-message{margin-top: 6px;}
.news-image{max-height: 300px;}
.news-section{border: 1px solid black; padding-top: 8px; margin-bottom: 20px;margin-top: 20px;}
.news-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px; overflow: hidden; height: 40px;}
.news-section .img-news{float: right; max-width: 300px; margin: 10px;}
.news-section .text-news{padding-top: 15px;}
@media screen and (max-width: 600px) {
	.img-news{display: none;}
}

/*Weather section*/
#weather{margin-left: 10px;margin-top: 74px;}
.weather-section{border: 1px solid black; padding: 45px; margin-bottom: 20px;}
.weather-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px;}
.weather-section .day{margin:0px; text-align: center;}
.weather-section .temp{border: 1px solid black; padding: 30px 0px 30px 0px; text-align: center;}

/*Birthday section*/
#birthdays{margin-left: 10px;}
.birthday-section{border: 1px solid black; padding-top: 30px; margin-bottom: 20px;}
.birthday-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px;}
.birthday-section .birthday-img{max-width: 100px;}

/*Layout section*/
.layout-section .layout-img{max-width: 100px;}

/* Navigation tabs (news_manage) */
h3.navtabs{padding-top: 15px; margin-bottom: 25px;}

/*Rights*/
#user-rights-table{display: none;}
.btn-right-add{margin-top: 10px;}

/*Search*/
.short-description{width:40%;}
.search-img{width:50px;}

/* Newsarticles */
.modal-lg{max-width: 1200px !important;}
