/*General*/
.btn {cursor: pointer;}
.dotsolutions_logo{position: fixed; bottom: 0; left: 10px;}

/*Icons*/
.icon-question{margin-top: 7px; cursor: pointer;}
.icon-settings{margin: -3px 15px 0px 10px;}

/*Login screen*/
#login{margin-top: 50px;}
#login .logo{margin-bottom: 10px;}
#login .password-btn-section{padding-left: 0px;}

@media screen and (max-width: 1200px) {
	#login .question-mark-btn-section{margin-left: 15px;}	
	#login .login-btn-section {margin-right: 15px;}
}

/*Dashboard*/
#search-section{margin-left: 20px;}
#dashboard-content{margin-top: 50px;}
@media screen and (min-width: 1200px) {
	#dashboard-content{padding-left: 15%;padding-right: 15%;}
}
.news-image{max-height: 300px;}
.news-section{border: 1px solid black; padding-top: 8px; margin-bottom: 20px;}
.news-section .title{display: inline-block; position: absolute; top: -17px; background: #fff; padding: 0 10px 0 10px; font-size: 22px;}